*, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

$color1: #947e37;
$color2: #379489;
$color3: #aec7c4;
$color4: #6e634f;

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Bold.otf");
}
@font-face {
  font-family: "SourceSans";
  src: url("../fonts/SourceSansPro-Regular.otf");
}

div.container{
  width: 100%;

  .max-w{
    width: 100%;
  }

  section.landing{
    background-image: url(../img/shirt-4.jpg);
    background-size: auto 100%;
    background-position: center center;

    div.hero{
      height: 100vh;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-content: stretch; */
    align-items: center;
    
    img.logo{
      position: absolute;
      top: 2rem;
      max-width: 80%;
    }

    button{
      text-align: center;
      padding: 0.754em 2.5em;
      max-width: 70%;
      margin-bottom: 2em;
      font-size: 1.25em;
      border: none;
      font-family: "SourceSans", sans-serif;
      color: $color4;
      border: 1px solid $color4;
      border-radius: 7px;
      &:hover{
        cursor:pointer;
        background: #f1d1971f;
        }
    }
    }
  }

  main.store{
    section.store-section{
      padding: 1rem;
      &:nth-child(odd){
        background-color: #f9f9f9;
      }
      &:last-child{
        padding-bottom: 3rem;
      }
      h2.store-section-title{
        font-size: 2em;
        padding: 1rem 0;
        text-transform: capitalize;
        color: $color2;
        text-align: center;
        font-family: "Bebas";
      }

      div.store-items{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div.store-item{
          min-width: 220px;
          width: 100%;
          padding-bottom: 1rem;
          

          div.store-item-img{
            position: relative;
            padding-top: 100%;
            background-color: wheat;
            background-size: 100%;
          }
        }
      }


      button.store-section-cta{
        width: 100%;
        padding: 0.75em 0;
        font-size: 1.15em;

        border: none;
        background-color: $color2;
        color: white;
        font-family: "SourceSans", sans-serif;

        &:hover{
        cursor:pointer;
        background-color:#2dad9e;
        }

      }
    }
  }

  footer{
    font-family: "SourceSans";
    background-color: $color1;

    display: grid;
    grid-template-columns: 1em 1fr 1em 1fr 1em;
    padding: 1rem 0;
    grid-column: 1/-1;
    .link-section{
      h3.link-section-title{
        font-size: 1.5em;
        font-family: "bebas", sans-serif;
      }
      &.shop{
        grid-column: 2/3;
      }
      &.stores{
        grid-column: 4/5;
      }
      &.social-media{
        grid-column: 4/5;
      }
      ul.link-section-links{
        font-size: 0.9;
        
        li{
          a{
            text-decoration: none;
            color: #111;
            img.svg-icon{
              height: 22px;
            }
          }
        }

        &.social-media-links{
          display: flex;
          li{
            margin-right: 5px;

            &:last-child{
              margin-right: 0;
            }
          }
        }
      }

      
    }

    h3.copyright{
      grid-row: 3;
      grid-column: 1/-1;
      text-align: center;
      margin-top: 1rem;
      color: rgb(208, 208, 208);
      font-weight: 100;
    }
  }

}

@media only screen and (min-width: 530px) and (max-width:799px){
 main.store{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   section.store-section{
     width: 100%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     div.store-items{
       max-width: 460px;
       display: flex;
       flex-direction: column;
       align-items: center;
     }
   }
 } 
}

@media only screen and(min-width: 960px) and (orientation:landscape){
  div.container{
    section.landing{
      background-repeat: no-repeat;
      background-position: left;
      display: flex;
      justify-content: flex-end;
      div.hero{
        display: flex;
        width: 500px;

      }
    }
  }
}

@media only screen and(min-width: 1080px) and (orientation:landscape){
  div.container{
    section.landing{
      div.hero{
        margin-right: 10%;

      }
    }
  }
}



@media only screen and(min-width: 800px){
  div.container.main-grid{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 
    minmax(1em,1fr)
    repeat(8,minmax(2em,9em))
    minmax(1em,1fr)
    ;

    section.landing{
      grid-column: 1/-1;
      grid-row: 1;
    }

    main.store{
      grid-column: 1/-1;
      grid-row: 2;
      background-color: #f9f9f9;
      
      section.store-section{
        div.store-items{
          padding: 2rem;
          display: grid;
          
          grid-template-columns: 
          repeat(2,minmax(2rem,12rem)) 
          minmax(1rem,2rem) repeat(2,minmax(2rem,12rem)) 
          minmax(1em,2em) repeat(2,minmax(2rem,12rem));

          div.store-item#item1{
            grid-column: 1/3;
          }
          div.store-item#item2{
            grid-column: 4/6;
          }
          div.store-item#item3{
            grid-column: 7/9;
          }

          
        }
        &:nth-child(even){
          background-color: white;
        }



        button.store-section-cta{
          width: initial;
          padding: 0.5em 4em;
          margin-left: 2rem;
        }
        
      }

      
      
    }
  }
}